
// ========================================================== //
// -- Breakpoint Media Queries

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1650px;

// Mobile
@mixin bpSm {
  @media screen and (min-width: $sm) { @content; }
}

// Tablet
@mixin bpMd {
  @media screen and (min-width: $md) { @content; }
}

// Small Desktop
@mixin bpLg {
  @media screen and (min-width: $lg) { @content; }
}

// Large Desktop
@mixin bpXl {
  @media screen and (min-width: $xl) { @content; }
}

// Extra Large Desktop
@mixin bpXXl {
  @media screen and (min-width: $xxl) { @content; }
}
