// sass-lint:disable indentation

// Open Sans Regular
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
    url('/assets/fonts/open-sans-v17-latin-regular.woff2') format('woff2'),
    url('/assets/fonts/open-sans-v17-latin-regular.woff') format('woff');
}
// Open Sans ExtraBold
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: local('Open Sans ExtraBold'), local('OpenSans-ExtraBold'),
    url('/assets/fonts/open-sans-v17-latin-800.woff2') format('woff2'),
    url('/assets/fonts/open-sans-v17-latin-800.woff') format('woff');
}

body,
html {
  width: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

h1 {
  font-size: 32px;
  
  @include bpXl {
    font-size: 36px;
  }
}

.bold {
  font-weight: 800;
}
