<template>
  <div
    v-if="filmArray"
    class="film-grid"
  >
    <div
      v-for="({ Title, imdbID, Poster, id }, index) in filmArray"
      :key="id"
    >
      <Film
        :class="isDimmed"
        :ref="index + 1"
        @select="toggleFilmInfo"
        v-bind="{
          index: (index + 1),
          title: Title,
          imdbID: imdbID,
          posterURL: Poster,
        }"
      />
    </div>
    <div
      v-if="displayInformation"
      class="film-grid__drawer"
      :style="{
        gridColumn: `1 / ${gridColumns + 1}`,
        gridRow: `${gridRowStart} / ${gridRowEnd}`,
      }"
    >
      <FilmInfo
        v-if="selectedFilmData"
        :filmData="selectedFilmData"
      />
    </div>
  </div>
</template>

<script>
import Film from './Film.vue';
import FilmInfo from './FilmInfo.vue';

export default {
  name: 'FilmGrid',
  components: {
    Film,
    FilmInfo,
  },
  props: {
    filmArray: {
      type: Array,
      default: undefined,
    },
  },
  data() {
    return {
      selectedGridIndex: undefined,
      selectedFilmData: undefined,
      selectedElement: undefined,
      displayInformation: false,
    };
  },
	computed: {
    gridColumns() {
      switch (this.$mq) {
        case 'xs':
          return 2;
        case 'sm':
          return 3;
        case 'md':
          return 4;
        case 'lg':
          return 5;
        case 'xl':
          return 6;
        case 'xxl':
          return 7;
        default:
          return 2;
      }
    },
    gridRowStart() {
      return Math.ceil(this.selectedGridIndex / this.gridColumns) + 1;
    },
    gridRowEnd() {
      return this.gridRowStart + 1;
    },
    isDimmed() {
      if (!this.displayInformation) return;
      return 'dimmed';
    },
  },
  watch: {
    filmArray() {
      if (this.filmArray.length) return;
      this.selectedFilmData = undefined;
      this.selectedGridIndex = undefined;
      this.selectedElement = undefined;
      this.displayInformation = false;
    },
  },
  methods: {
    toggleFilmInfo({ index, filmData, event = false }) {
      if (this.selectedGridIndex !== index) {
        this.selectedGridIndex = index;
        this.selectedFilmData = filmData;
        this.displayInformation = true;
      } else if (!this.displayInformation) {
        this.displayInformation = true;
      } else {
        this.displayInformation = false;
      }
      this.updateSelected(event);
    },
    updateSelected() {
      this.selectedElement ? this.selectedElement.classList.remove('selected') : false;
      this.$nextTick(() => {
        this.selectedElement = this.$refs[this.selectedGridIndex][0].$el;
        this.selectedElement.classList.add('selected');
      });
    },
  },
};
</script>

<style lang="scss" scoped>

.film-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: min-content;
  grid-auto-columns: min-content;
  grid-gap: 1rem;
  padding-top: 2rem;
  
  @include bpSm {
    grid-template-columns: repeat(3, 1fr);
  } @include bpMd {
    grid-template-columns: repeat(4, 1fr);
  } @include bpLg {
    grid-template-columns: repeat(5, 1fr);
  } @include bpXl {
    grid-template-columns: repeat(6, 1fr);
  } @include bpXXl {
    grid-template-columns: repeat(7, 1fr);
  }
}

.dimmed:not(.selected) {
  opacity: 0.3;
}
</style>