<template>
  <div class="film-info">
    <div class="film-info__details">
      <h1 class="film-info__details--title">
        {{ filmData.title }}
      </h1>
      <img
        v-if="filmData.rating.isMpaa"
        :src="ratingImg"
        class="film-info__details--mpaaRating"
      />
      <span
        v-else
        class="film-info__details--rating"
      >
        {{ filmData.rating.ratingStr }}
      </span>
      <span class="film-info__details--year">
        {{ filmData.year }}
      </span>
      <div class="film-info__details--runtime">
        <img src="../assets/images/runtime.svg" />
        <span class="info">
          {{ filmData.runtime }}
        </span>
      </div>
      <div class="film-info__details--genre">
        <img src="../assets/images/genres.svg" />
        <span class="info">
          {{ filmData.genre }}
        </span>
      </div>
      <p class="film-info__details--plot">
        {{ filmData.plot }}
      </p>
    </div>
    <div class="film-info__credits">
      <div
        class="film-info__credits--item"
        v-for="(list, title) in credits"
        :key="title"
      >
        <span class="title bold">
          {{ `${title}(s):` }}
        </span>
        <div class="names">
          <span
            v-for="(name, index) in list"
            :key="index"
            class="name"
          >
            {{ name }}
          </span>
        </div>
      </div>
    </div>
    <div class="film-info__ratings">
      <div
        class="film-info__ratings--item"
        v-for="(critic, index) in filmData.criticRatings"
        :key="index"
      >
        <div class="source">
          <img
            :src="criticImg(critic.Source)"
          />
        </div>
        <span class="value bold">
          {{ critic.Value }}
        </span>
      </div>
    </div>
  </div>
</template>

<script>
const criticNames = {
  'Internet Movie Database': 'imdb',
  'Rotten Tomatoes': 'rotten_tomatoes',
  'Metacritic': 'metacritic',
};

export default {
  name: 'FilmInfo',
  props: {
    filmData: {
      type: Object,
      default: undefined,
    },
  },
	computed: {
    ratingImg() {
      return require(`../assets/images/ratings/rating-${this.filmData.rating.ratingStr}.png`);
    },
    credits() {
      return {
        'Director': this.filmData.directorsArray,
        'Writer': this.filmData.writersArray,
        'Actor': this.filmData.actorsArray,
      };
    },
  },
  methods: {
    criticImg(critic) {
      return require(`../assets/images/logos/logo-${criticNames[critic]}.svg`);
    },
  },
};
</script>

<style lang="scss" scoped>

.film-info {
  display: flex;
  flex-wrap: wrap;
  text-align: left;
  color: white;
  padding: 1rem;
  
  @include bpLg {
    flex-wrap: nowrap;
    padding: 2rem;
  } @include bpXl {
    padding: 2rem 3rem;
    margin: 0 auto;
    max-width: 1650px;
  } @include bpXXl {
    padding: 2rem 6rem;
    margin: 0 auto;
    max-width: 1650px;
  }
  
  &__details,
  &__credits,
  &__ratings {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
  }
  
  // ---------------- //
  
  &__details {
    flex: 1 1 100%;
    justify-content: flex-start;
    padding-bottom: 1rem;
    
    @include bpLg {
      flex: 0 1.25 auto;
      max-width: 50%;
      padding: .5rem 2rem .75rem 0;
      border-right: 1px solid white;
    } @include bpXl {
      max-width: 55%;
      padding-right: 3rem;
    }
    
    &--title,
    &--plot {
      flex: 0 1 100%;
    }
    
    &--rating,
    &--mpaaRating,
    &--year,
    &--runtime,
    &--genre {
      flex: 0 1 auto;
      align-self: center;
      margin-right: 1rem;
      margin-bottom: .5rem;
      
      @include bpLg {
        margin-right: 2rem;
      }
    }
    
    &--genre {
      flex: 1 1 100%;
      
      @include bpSm {
        flex: 0 1 auto;
      }
    }
    
    &--year,
    &--rating {
      font-size: 1.4rem;
      font-weight: 800;
    }
    
    &--mpaaRating {
      max-height: 30px;
    }
    &--plot {
      padding-top: .5rem;
    }
  }
  
  // ---------------- //
  
  &__credits {
    flex: 1 1 100%;
    padding-bottom: 2rem;
    
    @include bpSm {
      flex: 0 1 60%;
      padding: 1rem 1rem 1rem 0;
      border-right: 1px solid white;
    } @include bpMd {
    } @include bpLg {
      flex: 1.5 1 auto;
      max-width: 30%;
      padding: .75rem 2rem;
    } @include bpXl {
      padding: .75rem 3rem;
    }
    
    &--item {
      flex: 1 0 100%;
      display: flex;
      
      &:not(:last-child) {
        padding-bottom: .75rem;
      }
    }
    
    .title {
      flex: 0 1 50%;
      
      @include bpLg {
        flex: 0 1 40%;
      }
    }
    .names {
      flex: 0 1 50%;
      
      @include bpLg {
        flex: 0 1 60%;
      }
    }
    .name {
      display: block;
    }
  }
  
  // ---------------- //

  &__ratings {
    flex: 1 1 100%;
    
    @include bpSm {
      flex: 0 1 40%;
      padding: 1rem 0 1rem 1rem;
    } @include bpLg {
      flex: 0 1 auto;
      max-width: 20%;
      padding: .75rem 0 .75rem 2rem;
    } @include bpXl {
      padding: .75rem 0 .75rem 3rem;
    }
    
    &--item {
      flex: 0 1 100%;
      display: flex;
      
      &:not(:last-child) {
        padding-bottom: 2rem;
      }
    }
    
    .source {
      flex: 0 0 75px;
      
      & > img {
        width: 100%;
        height: auto;
      }
    }
    .value {
      padding-left: 2rem;
    }
  }
}

.info {
  vertical-align: middle;
  padding-left: .5rem;
}
</style>