<template>
  <div
    class="film"
    :style="setPosterBackground"
    @click="getFilmInformation"
  >
    <div
      v-if="!posterExists"
      class="film--no-poster"
    >
      <img src="../assets/images/no-poster.svg" />
      <span class="info">
        {{ title }}
      </span>
    </div>
  </div>
</template>

<script>
import omdb from '../mixins/omdb.js';

const mpaaRatings = {
  'G': 'g',
  'PG': 'pg',
  'PG-13': 'pg13',
  'R': 'r',
  'NC-17': 'nc17',
  'UNRATED': 'unrated',
  'Unrated': 'unrated',
  'Not Rated': 'not_rated',
  'N/A': 'not_rated',
};

export default {
  name: 'Film',
  mixins: [omdb],
  props: {
    index: {
      type: Number,
      default: undefined,
    },
    title: {
      type: String,
      default: undefined,
    },
    year: {
      type: String,
      default: undefined,
    },
    imdbID: {
      type: String,
      default: undefined,
    },
    posterURL: {
      type: String,
      default: undefined,
    },
  },
	computed: {
    posterExists() {
      return this.posterURL !== 'N/A';
    },
    setPosterBackground() {
      return (this.posterExists) ?
        { backgroundImage: `url(${this.posterURL})` } :
        { background: 'rgba(255, 255, 255, 0.15)' };
    },
  },
  methods: {
    async getFilmInformation() {
      let data = await this.idRequest(this.imdbID);
      this.$emit('select', {
        index: this.index,
        filmData: this.parseFilmInformation(data),
      });
    },
    parseFilmInformation(data) {
      return {
        title: data.Title,
        rating: this.getRating(data.Rated),
        year: data.Year,
        runtime: data.Runtime,
        genre: data.Genre,
        plot: data.Plot,
        directorsArray: data.Director.split(', '),
        writersArray: data.Writer.split(', '),
        actorsArray: data.Actors.split(', '),
        criticRatings: data.Ratings,
      };
    },
    getRating(rating) {
      return {
        isMpaa: mpaaRatings[rating] ? true : false,
        ratingStr: mpaaRatings[rating] || rating,
      };
    },
  },
};
</script>

<style lang="scss" scoped>

$poster-width: 300;
$poster-height: 450;

.film {
  position: relative;
  background-size: cover;
  background-position: center 25%;
  background-repeat: no-repeat;
  cursor: pointer;
  box-shadow: 1px 3px 3px 0px rgba(0,0,0,0.25);
  
  &::before {
    display: block;
    width: 100%;
    padding-top: percentage($poster-height / $poster-width);
    content: '';
  }
  
  &--no-poster {
    position: absolute;
    top: 0; right: 0; bottom: 0; left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    color: white;
    padding: 0.5rem;
    
    & > img,
    .info {
      opacity: 0.5;
    }
    
    .info {
      flex: 1 1 100%;
      display: block;
      text-align: center;
      font-weight: 800;
    }
  }
}
</style>