<template>
  <b-navbar
    class="header"
    type="dark"
    fixed="top"
  >
    <div class="header__container">
      <div
        class="header__logo"
        @click="resetSearch(true)"
      >
        <img src="../assets/filmdex-logo.svg" />
      </div>
      <b-input-group
        class="header__search"
        size="md"
      >
        <b-form-input
          v-model="queryText"
          @keyup.enter="submitQuery"
          @focus="resetSearch(false)"
          placeholder="Search for a Movie or TV Show"
        />
      </b-input-group>
      <b-form-radio-group
        v-model="currentView"
        @change="$emit('changeView')"
        :options="viewToggleOptions"
        name="search-toggle"
        class="header__toggle"
        buttons
      />
    </div>
  </b-navbar>
</template>

<script>

export default {
  name: 'Header',
  props: {
    currentView: {
      type: String,
      default: 'search',
    },
  },
  data() {
    return {
      queryText: '',
      viewToggleOptions: [{
        text: 'Search',
        value: 'search',
      },{
        text: 'History',
        value: 'history',
      }],
    };
  },
  methods: {
    submitQuery() {
      if (this.queryText === '') return;
      this.$emit('search', this.queryText);
    },
    resetSearch(resetGrid) {
      this.queryText = '';
      resetGrid ? this.$emit('reset') : false;
    },
  },
};
</script>

<style lang="scss" scoped>

.header {
  padding: 1rem;
  background-color: #D42D25;
  box-shadow: 1px 3px 3px 0 rgba(0, 0, 0, .25);
  
  @include bpSm {
    padding: 1.25rem 1.5rem;
  } @include bpMd {
    padding: 2rem;
  }
  
  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    
    @include bpMd {
      flex-wrap: nowrap;
    }
  }
  
  &__logo {
    flex: 0 0 225px;
    margin-right: auto;
    margin-bottom: .5rem;
    cursor: pointer;
    
    @include bpSm {
      flex: 0 1 240px;
      margin-bottom: .75rem;
    } @include bpMd {
      margin: 0;
    }
    
    & > img {
      width: 100%;
      height: auto;
    }
  }
  
  &__search {
    flex: 1 1 60%;
    
    @include bpSm {
      flex: 0 1 70%;
    } @include bpMd {
      flex: 0 2 auto;
      margin: 0 2.5rem;
    } @include bpLg {
      flex: 0 1 450px;
      margin: 0 4rem;
    }
  }
  
  &__toggle {
    flex: 0 1 auto;
    
    @include bpSm {
      flex: 0 1 30%;
    } @include bpMd {
      flex: 0 0 auto;
      margin-left: auto;
    } @include bpLg {
      flex: 0 0 200px;
    }
  }
}
</style>
