<template>
  <div class="container">
    <b-table
      :items="searchHistory"
      :fields="fields"
      responsive
      striped
      dark
    >
      <template v-slot:cell(link)="data">
        <b-button
          @click="$emit('search', data.item.title)"
        >Go to Search
        </b-button>
      </template>
    </b-table>
    <b-button
      @click="deleteSearchHistory"
    >Clear Search History
    </b-button>
  </div>
</template>

<script>
const localStorage = window.localStorage;
const storageKey = 'searchHistory';

export default {
  name: 'SearchHistory',
  props: {
    searchRecord: {
      type: Object,
      default: undefined,
    },
  },
  data() {
    return {
      searchHistory: [],
      fields: [{
        key: 'title',
        label: 'Query',
      },{
        key: 'totalResults',
        label: 'Results',
      },{
        key: 'status',
        label: 'Status',
      },{
        key: 'timestamp',
        label: 'Date',
      },{
        key: 'link',
        label: '',
      }],
    };
  },
  watch: {
    searchRecord() {
      if (!this.searchRecord) return;
      this.setSearchHistory([...this.searchHistory, {
        timestamp: new Date().toLocaleString(),
        ...this.searchRecord
      }]);
    },
  },
  methods: {
    getSearchHistory() {
      this.searchHistory = JSON.parse(localStorage.getItem(storageKey) || '[]');
    },
    setSearchHistory(data) {
      localStorage.setItem(storageKey, JSON.stringify(data));
      this.getSearchHistory();
    },
    deleteSearchHistory() {
      localStorage.removeItem(storageKey);
      this.getSearchHistory();
    }
  },
	mounted() {
    this.getSearchHistory();
  },
};
</script>