<template>
  <div
    id="app"
    class="filmdex"
  >
    <Header
      @search="populateGrid"
      @changeView="showSearch = !showSearch"
      @reset="resetGrid"
      :currentView="currentView"
      ref="header"
    />
    <div
      v-show="showSearch"
      :style="{ paddingTop: `${bodyOffset}px` }"
      class="container-fluid"
    >
      <FilmGrid
        :filmArray="filmArray"
      />
      <b-alert
        :show="displayError"
        @dismissed="displayError = 0"
        variant="danger"
        dismissible
        fade
      >{{ errorMessage }}
      </b-alert>
    </div>
    <div
      v-show="!showSearch"
      :style="{ paddingTop: `${bodyOffset}px` }"
    >
      <SearchHistory
        :searchRecord="searchResult"
        @search="populateGrid"
      />
    </div>
  </div>
</template>

<script>
import Header from './components/Header.vue';
import SearchHistory from './components/SearchHistory.vue';
import FilmGrid from './components/FilmGrid.vue';
import omdb from './mixins/omdb.js';

const doc = document.documentElement;
let scrollLock = false;

export default {
  name: 'app',
  components: {
    Header,
    SearchHistory,
    FilmGrid,
  },
  mixins: [omdb],
  data() {
    return {
      filmArray: [],
      query: {},
      totalResults: 0,
      errorMessage: '',
      searchResult: undefined,
      showSearch: true,
      displayError: 0,
      bodyOffset: 0,
    };
  },
	computed: {
    currentView() {
      return this.showSearch ? 'search' : 'history';
    },
  },
  methods: {
    async populateGrid(title) {
      this.resetGrid();
      this.query.title = title;
      let data = await this.searchRequest(this.query);
      if (data.Response === 'True') {
        this.filmArray = data.Search;
        this.totalResults = data.totalResults;
        this.updateGrid();
      } else {
        this.errorMessage = data.Error;
        this.displayError = 5;
      }
      this.searchResult = {
        status: this.totalResults ? 'Success' : this.errorMessage,
        title: this.query.title,
        totalResults: this.totalResults,
      };
    },
    async updateGrid() {
      let currentPage = parseInt(this.query.page);
      if ((currentPage + 1) <= Math.ceil(this.totalResults / 10)) {
        this.query.page = currentPage + 1;
        let data = await this.searchRequest(this.query);
        this.filmArray.push(...data.Search);
        this.$nextTick(() => {
          this.atPageEnd() ? this.updateGrid() : false;
          scrollLock = false;
        });
      }
    },
    resetGrid() {
      this.filmArray = [];
      this.query = { title: '', page: 1 };
      this.totalResults = 0;
      this.errorMessage = '';
      this.searchResult = undefined;
      this.showSearch = true;
      this.displayError = 0;
    },
    checkScrollPosition() {
      if (!scrollLock && this.atPageEnd()) {
        scrollLock = true;
        this.updateGrid();
      }
    },
    atPageEnd() {
      return doc.scrollTop + window.innerHeight >= (doc.offsetHeight - 400);
    },
  },
  mounted() {
    this.$nextTick(() => {
      this.bodyOffset = this.$refs.header.$el.getBoundingClientRect().bottom;
    });
    window.onscroll = () => {
      this.checkScrollPosition();
    };
  },
}
</script>

<style lang="scss">

.filmdex {
  width: 100%;
  min-height: 100vh;
  color: #2c3e50;
  background: linear-gradient(0deg, rgba(22,23,26,1) 0%, rgba(38,40,44,1) 100%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
